body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, green , teal);
}
input{
    margin: 10px;
}